<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianyutian.xhs.user.repository.mybatis.SecurityEventMapper">
    <insert id="insert" parameterType="com.lianyutian.xhs.user.model.entity.SecurityEventEntity">
        insert into security_event(event_type, user_id, session_id, source_ip, detail, created_at)
        values(#{eventType}, #{userId}, #{sessionId}, #{sourceIp}, #{detail}, #{createdAt})
    </insert>
</mapper>
